<!DOCTYPE html>
<html>
<head>
  <title>Lilliputifier Header</title>
</head>
<body>
  <h1>Lilliputifier:</h1>
  <p>Tying down the largest addresses, or something even more clever.</p>
  <hr>
</body>
</html>