<h1><a href="/">Lilliputifier</a></h1>
<p>Tying down the largest addresses since <a href="https://en.wikipedia.org/wiki/Lilliput_and_Blefuscu">1726</a>.</p>
<br>
<% if (username) { %>
    <p>Welcome back, <%=users[username].email%>!</p>
    <form method="post" action="/logout">
      <button type="submit">Logout</button>
    </form>
<% } else { %>
    <p>Hello, unregistered user!</p>
    <p><a href="/register">Register</a> or <a href="/login">Login</a>?</p>
<% } %>
<hr>
