<h1>Lilliputifier:</h1>
<p>Tying down the largest addresses since 1726.</p>
<br>
</div>
<div class="hello user">
  <% if (username) { %>
    <p>Welcome back, <%=username%>!</p>
  <form method="post" action="/logout">
    <button type="submit">Logout</button>
  </form>

  <% } %>
</div>
<hr>
