<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lilliputifier (Specific URL)</title>
</head>
<body>
  <header>
    <%- include("partials/_header"); %>
  </header>

  <p><%= fullURL %>  👉  www.lilli.put/<strong><%= shortURL; %></strong></p>
</body>
</html>