<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lilliputifier (Specific URL)</title>
</head>
<body>
  <header>
    <%- include("partials/_header"); %>
  </header>
  <h1>Lilliput: <strong><%= shortURL %></strong></h1>

  <form method="POST" action="/urls/<%= shortURL %>">
    <input type="text" value="<%= longURL %>" name="longURL">
      <button type="submit">Update</button></form>
</body>
</html>